@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav {
    background-color: #DEDEDE;
    border: 0.5px solid black;
    border-radius: 7px;
}

.myName{
    font-family: 'Azeret Mono';
    font-size: 23px;
    color: #000000;
}

.lists ul li a {
    font-family: 'Poppins';
    font-size: 18px;
    position: relative;
    z-index: 1;
}

.lists ul li a::after {
    content: '';
    width: 0%;
    border-radius: 3px;
    height: 3px;
    background-color: #FF4400;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transform: translateX(50%, 50%);
    transition: all ease-in 0.2s;
}

.lists ul li a:hover::after {
    content: '';
    width: 100%;
    height: 3px;
}

.lists .navActive {
    color: #FF4400;
}

.lists .navActive::after {
    content: '';
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background-color: #FF4400;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transform: translateX(50%, 50%);
}

.soon {
    color: #FF4400;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}